body {
  background-color: #C0BABC;
  text-align: center;
  margin: auto;
  padding: 20px;
  font-family: sans-serif;
  color: #745B5F;
}

h1 {
  color: #5C606B;
}

h3 {
  color: #5C606B;
}

#board {
  display: flex;
  align-content: center;
  align-items: center;
  padding: 40px;
}

#status {
  /*display: flex;
  align-content: center;
  position: center;
  margin: auto;
  padding: 20px;*/
}

#scoreboard {
  display: flex;
  align-content: center;
  position: center;
  margin: auto;
  padding: 15px;
}

#first-deck {
  display: flex;
  width: 225px;
  height: 360px;
  background-image: url("../images/back.png");
  position: center;
  margin: auto;
  border-radius: 10px;
}

#player-one {
  display: flex;
  width: 225px;
  height: 360px;
  background-color: ivory;
  position: center;
  margin: auto;
  border-radius: 10px;
}

#player-two {
  display: flex;
  width: 225px;
  height: 360px;
  background-color: ivory;
  position: center;
  margin: auto;
  border-radius: 10px;
}

img {
  position: center;
  margin: auto;
}

footer {
  font-size: 10px;
  color: #5C606B;
}
