body {
  background-color: #C0BABC; /* For browsers that do not support gradients LOOKED THIS UP ON W3 SCHOOLS*/
    background: -webkit-linear-gradient(bottom,rgba(192,186,188,0),rgba(192,186,188,1)); /*Safari 5.1-6*/
    background: -o-linear-gradient(bottom,rgba(192,186,188,0),rgba(192,186,188,1)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(bottom,rgba(192,186,188,0),rgba(192,186,188,1)); /*Fx 3.6-15*/
    background: linear-gradient(to bottom,rgba(192,186,188,0),rgba(192,186,188,1)); /*Standard*/
  text-align: center;
  margin: auto;
  padding: 20px;
  font-family: sans-serif;
  color: #745B5F;
}

h1 {
  color: black;
  font-family: 'Fascinate Inline', cursive, sans-serif;
}

h2 {
  color: #745B5F;
  font-family: 'Fascinate Inline', cursive, sans-serif;
}

p {
  font-family: 'Prompt', sans-serif;
}

button {
  font-size: 20px;
  background-color: #C0BABC;
  color: #5C606B;
  font-weight: bold;
  border: 2px #745B5F solid;
  border-radius: 10px;
}

#board {
  display: flex;
  align-content: center;
  align-items: center;
  padding: 40px;
}

#status {
  color: black;
  font-size: 20px;
}

#turn {
  font-weight: bold;
  color: black;
  font-size: 28px;
}

.score {
  color: black;
}

#first-deck {
  display: flex;
  width: 225px;
  height: 360px;
  background-image: url("../images/back.png");
  position: center;
  margin: auto;
  border-radius: 10px;
}

#player-one {
  display: flex;
  width: 225px;
  height: 360px;
  /*background-image: url("../images/back.png");*/
  background-color: ivory;
  position: center;
  margin: auto;
  border-radius: 10px;
}

#player-two {
  display: flex;
  width: 225px;
  height: 360px;
  /*background-image: url("../images/back.png");*/
  background-color: ivory;
  position: center;
  margin: auto;
  border-radius: 10px;
}

img {
  position: center;
  margin: auto;
}

footer {
  font-size: 10px;
  color: #5C606B;
  font-family: 'Prompt', sans-serif;
}
